
:root {
  --white-color: #ffffff;
  --silver-color: #afafaf;
  --bandsite-black-color: #323232;
  --bandsite-dark-black-color: #000000;
  --mercury-color: #e1e1e1;
  --alabaster-color: #fafafa;
}
@font-face {
  font-family: 'Avenir';
  src: url('../../assets/fonts/Avenir-Next-LT-Pro-R.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  src: url('../../assets/fonts/AvenirNextLTProD.otf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  src: url('../../assets/fonts/AvenirNextLTProB.otf');
  font-weight: 700;
  font-style: normal;
}
@mixin tablet {
  @media only screen and (min-width: 768px) {
    @content;
  }
}
@mixin desktop {
  @media only screen and (min-width: 1280px) {
    @content;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%; //font size set to 10px default

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body {
  font-family: "Avenir";
  background-color: var(--white-color);
  overflow-x: hidden;
}
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
}
button{
  background-color: var(--bandsite-black-color);
  outline: none;
  color: var(--white-color);
  border: none;
  height: 4rem;
  padding: 0 3.2rem;
  border-radius: .4rem;
  cursor: pointer;
  transition: all .3s;
  &:hover{
    background-color: var(--bandsite-dark-black-color);
  }
}

.title{
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--mercury-color);
  margin-bottom: 1.6rem;
}
p{
  font-size: 1.4rem;
  font-weight: 400;
}
.active{
  border-bottom: 0.4rem solid white;
}