    :root{
        --white-color: #ffffff;
        --silver-color: #afafaf;
        --bandsite-black-color: #323232;
        --bandsite-dark-black-color: #000000;
        --mercury-color: #e1e1e1;
        --alabaster-color: #fafafa;
    }