:root {
  --white-color: #ffffff;
  --silver-color: #afafaf;
  --bandsite-black-color: #323232;
  --bandsite-dark-black-color: #000000;
  --mercury-color: #e1e1e1;
  --alabaster-color: #fafafa;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Avenir Next LT Pro", sans-serif;
  background-color: var(--white-color);
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
  display: inline;
}

img {
  width: 100%;
  height: 100%;
}

.header {
  background-color: var(--bandsite-black-color);
  color: var(--white-color);
}
.header__logo {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 300;
  padding-top: 1.6rem;
  padding-bottom: 0.4rem;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

.nav__links {
  width: 100%;
}
.nav__links ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
}
.nav__links ul li {
  padding: 0rem 5.6rem 0.8rem 5.6rem;
}

.hero {
  width: 100%;
  min-height: 20rem;
  background-image: url("../assets/images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.hero::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}
.hero__text {
  color: var(--white-color);
  font-size: 3.2rem;
  font-weight: 600;
  position: absolute;
  z-index: 10;
  padding-left: 1.6rem;
  margin-top: 9rem;
}

.content {
  display: flex;
  flex-direction: column;
  color: var(--bandsite-black-color);
}
.content .about {
  padding: 0 1.6rem;
}
.content .about__heading {
  font-size: 2.4rem;
  padding: 2.4rem 0 1.6rem 0;
  color: var(--bandsite-black-color);
  line-height: 3.2rem;
}
.content .about__img {
  width: 100%;
  height: 100%;
}
.content .about__quote, .content .about__quote-author {
  color: var(--bandsite-dark-black-color);
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2.2rem;
}
.content .about__history--heading {
  padding-top: 2.4rem;
  padding-bottom: 1.6rem;
  line-height: 2.2rem;
  font-size: 1.6rem;
  color: var(--bandsite-dark-black-color);
  font-weight: 400;
}
.content .about__p {
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-weight: 400;
  margin-bottom: 1.6rem;
}

.gallery {
  display: flex;
  flex-direction: column;
  padding: 0 1.6rem 1.6rem 1.6rem;
  background-color: var(--mercury-color);
}
.gallery__heading {
  padding: 2.4rem 0 1.6rem 0;
}

.img-container:not(:last-child) {
  padding: 0 0 1.6rem 0;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: var(--bandsite-black-color);
  color: var(--white-color);
  padding: 2.4rem 1.6rem;
  font-size: 1.3rem;
  line-height: 1.8rem;
}
.footer__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer__heading h1 {
  font-size: 2.4rem;
  font-weight: 600;
}
.footer__heading ul {
  padding: 1.6rem 0;
  list-style: none;
  display: flex;
}
.footer__heading ul li {
  width: 2.2rem;
  height: 2.2rem;
  margin: 0 0.8rem 0 0;
}
.footer__h1 {
  padding-top: 2.4rem;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 1.6rem;
}

.contact1,
.contact2,
.contact3 {
  padding-bottom: 2.4rem;
  line-height: 2.2rem;
}
.contact1 p:nth-child(2),
.contact2 p:nth-child(2),
.contact3 p:nth-child(2) {
  padding-bottom: 1.6rem;
}
.contact1 p:nth-child(4),
.contact2 p:nth-child(4),
.contact3 p:nth-child(4) {
  padding-bottom: 1.6rem;
}

@media only screen and (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
  }
  .header__logo {
    font-size: 3.6rem;
    line-height: 4.4rem;
    font-weight: 400;
    padding-top: 1.6rem;
    padding-left: 3.6rem;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    margin-right: 6rem;
  }

  .nav__links {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .nav__links ul {
    align-items: center;
  }
  .nav__links ul li {
    padding: 2.2rem 0 2.2rem 0;
    margin-right: 5.4rem;
  }

  .hero {
    width: 100%;
    min-height: 75vh;
  }
  .hero__text {
    color: var(--white-color);
    font-size: 6rem;
    font-weight: 600;
    position: absolute;
    z-index: 10;
    padding-left: 3.6rem;
    display: flex;
    margin-top: 20rem;
  }

  .content {
    display: flex;
    flex-direction: column;
    color: var(--bandsite-black-color);
    width: 100%;
  }
  .content .about {
    padding: 0;
  }
  .content .about__description {
    padding-left: 4.8rem;
    padding-right: 4.8rem;
  }
  .content .about__heading {
    padding: 2.4rem 0 1.6rem 1.6rem;
  }
  .content .about__img {
    width: 90%;
  }
  .content .about__quote, .content .about__quote-author {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 3.2rem;
    width: 90%;
  }
  .content .about__history--heading {
    font-size: 2.4rem;
  }
  .content .about__p {
    font-size: 1.8rem;
    line-height: 2.2rem;
    font-weight: 400;
    margin-bottom: 1.6rem;
    margin-right: 2.4rem;
    flex: 1;
  }
  .content .about__paragraphs {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
  }

  .gallery {
    display: flex;
    flex-direction: column;
    padding: 0 1.6rem 1.6rem 1.6rem;
    width: 90%;
  }
  .gallery__heading {
    font-size: 3.6rem;
    padding: 2.4rem 0 1.6rem 0;
  }
  .gallery__images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .img-container {
    flex: 0 1 30%;
  }

  .footer {
    padding: 2.4rem 3.6rem;
    font-size: 1.8rem;
    line-height: 2.2rem;
    width: 90%;
  }
  .footer__contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer__h1 {
    display: flex;
    order: -1;
    justify-content: flex-end;
  }
  .footer__heading {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: -3.5rem;
  }
  .footer__heading ul {
    margin-left: 3.6rem;
  }
  .footer__heading ul li {
    width: 3rem;
    height: 3rem;
    margin-top: -2.5rem;
  }
  .footer__heading h1 {
    font-weight: 600;
    font-size: 3.6rem;
  }
  .footer__h1 {
    padding-top: 2.4rem;
    font-weight: 400;
    padding-bottom: 1.6rem;
  }

  .contact1,
.contact2,
.contact3 {
    padding-bottom: 2.4rem;
    padding-top: 1.6rem;
    line-height: 2.2rem;
  }
  .contact1 p:nth-child(2),
.contact2 p:nth-child(2),
.contact3 p:nth-child(2) {
    padding-bottom: 1.6rem;
  }
  .contact1 p:nth-child(4),
.contact2 p:nth-child(4),
.contact3 p:nth-child(4) {
    padding-bottom: 1.6rem;
  }
}