.header {
  background-color: var(--bandsite-black-color);
  color: var(--white-color);
}
.header__logo {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 300;
  padding-top: 1.6rem;
  padding-bottom: 0.4rem;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

.nav__links {
  width: 100%;
}
.nav__links ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
}
.nav__links ul li {
  padding: 0rem 5.6rem 0.8rem 5.6rem;
}

.hero {
  width: 100%;
  min-height: 20rem;
  background-image: url("../assets/images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}
.hero::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}
.hero__text {
  color: var(--white-color);
  font-size: 3.2rem;
  font-weight: 600;
  position: absolute;
  z-index: 10;
  padding-left: 1.6rem;
  margin-top: 9rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1.6rem;
  color: var(--bandsite-black-color);
}
.content .about__heading {
  font-size: 2.4rem;
  padding: 2.4rem 0 1.6rem 0;
  color: var(--bandsite-black-color);
  line-height: 3.2rem;
}
.content .about__img {
  width: 100%;
  height: 100%;
}
.content .about__quote, .content .about__quote-author {
  color: var(--bandsite-dark-black-color);
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2.2rem;
}
.content .about__history--heading {
  padding-top: 2.4rem;
  line-height: 2.2rem;
  font-size: 1.6rem;
  color: var(--bandsite-dark-black-color);
  font-weight: 400;
}
.content .about__p {
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-weight: 400;
  margin-bottom: 1.6rem;
}

.gallery {
  display: flex;
  flex-direction: column;
  background-color: var(--albaster-color);
}
.gallery__heading {
  padding: 2.4rem 0 1.6rem 0;
}

.img-container:not(:last-child) {
  padding: 0 0 1.6rem 0;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: var(--bandsite-black-color);
  color: var(--white-color);
  padding: 2.4rem 1.6rem;
  font-size: 1.3rem;
  line-height: 1.8rem;
}
.footer__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer__heading h1 {
  font-size: 2.4rem;
  font-weight: 600;
}
.footer__heading ul {
  padding: 1.6rem 0;
  list-style: none;
  display: flex;
}
.footer__heading ul li {
  width: 2.2rem;
  height: 2.2rem;
  margin: 0 0.8rem 0 0;
}
.footer__h1 {
  padding-top: 2.4rem;
  font-weight: 600;
  padding-bottom: 1.6rem;
}

.contact1, .contact2, .contact3 {
  padding-bottom: 2.4rem;
  line-height: 2.2rem;
}
.contact1 p:nth-child(2), .contact2 p:nth-child(2), .contact3 p:nth-child(2) {
  padding-bottom: 1.6rem;
}
.contact1 p:nth-child(4), .contact2 p:nth-child(4), .contact3 p:nth-child(4) {
  padding-bottom: 1.6rem;
}